<section class="bg-gray-100 dark:bg-gray-800 py-20">
  <div class="max-w-screen-xl px-4 mx-auto">
      <h2 class="text-3xl font-extrabold text-center text-gray-900 dark:text-white mb-8 mt-7">Sobre Nosotros</h2>
      
      <!-- Misión y Visión en cuadros paralelos -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6 mt-5">
          <!-- Misión -->
          <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
              <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Misión</h3>
              <p class="text-gray-700 dark:text-gray-300">
                Nuestro compromiso es administrar con efectividad el Talento Humano, protegiendo los intereses de las empresas usuarias y empleados en misión a través de una infraestructura que permita atender todos los servicios de nómina, contribuyendo al crecimiento del sector productivo nacional.
              </p>
          </div>
          
          <!-- Visión -->
          <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
              <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Visión</h3>
              <p class="text-gray-700 dark:text-gray-300">
                  Emplear S.A. busca consolidarse como una organización competitiva, comprometida en la creación y transformación de servicios dirigidos a satisfacer las necesidades de las personas naturales y jurídicas del sector productivo nacional.
              </p>
          </div>
      </div>
      
      <!-- Política de Calidad -->
      <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6 mb-6">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Política de Calidad</h3>
          <p class="text-gray-700 dark:text-gray-300">
              Comprometidos con la calidad y su sistema de gestión de la Calidad, EMPLEAR S.A. se encuentra enmarcada dentro de las normas legales vigentes, dirigida por principios éticos institucionales, con un talento humano competente y comprometido, aspectos que avalan una asistencia oportuna y confiable a nuestros usuarios.
          </p>
      </div>
      
      <!-- Valores -->
      <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Valores</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
          <!-- Transparencia -->
          <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
              <strong class="text-xl text-gray-800 dark:text-white mb-2 block">Transparencia</strong>
              <p class="text-gray-700 dark:text-gray-300">
                  Permitir que el empleado en misión y empresa usuaria entiendan claramente el mensaje que Emplear está proporcionando, esto significa sinónimo de honestidad, que permite que todas las partes interesadas prefieran relacionarse con Emplear como empresa honesta y coherente.
              </p>
          </div>
          
          <!-- Legalidad -->
          <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
              <strong class="text-xl text-gray-800 dark:text-white mb-2 block">Legalidad</strong>
              <p class="text-gray-700 dark:text-gray-300">
                  Como pilar fundamental de Emplear, todo lo que en su interior se realiza se ejecuta acorde a las leyes vigentes y su jurisdicción.
              </p>
          </div>
          
          <!-- Integridad -->
          <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
              <strong class="text-xl text-gray-800 dark:text-white mb-2 block">Integridad</strong>
              <p class="text-gray-700 dark:text-gray-300">
                  En Emplear S.A. el personal trabaja con responsabilidad, en apego a la reglamentación vigente, conservando el respeto por los empleados en misión y empresas usuarias actuando en consecuencia para aumentar la confianza entre sus partes interesadas y firmeza en sus acciones.
              </p>
          </div>
          
          <!-- Responsabilidad Social -->
          <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
              <strong class="text-xl text-gray-800 dark:text-white mb-2 block">Responsabilidad Social</strong>
              <p class="text-gray-700 dark:text-gray-300">
                Compromiso social con el empleado en misión y empresa usuaria, en productividad, ventajas competitivas, apoyo en el control de la salud en el Trabajo, respeto por los derechos del trabajador, reconociendo en Emplear S.A. legitimidad y aceptación social.
              </p>
          </div>
          
          <!-- Disciplina -->
          <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
              <strong class="text-xl text-gray-800 dark:text-white mb-2 block">Disciplina</strong>
              <p class="text-gray-700 dark:text-gray-300">
                  Emplear S.A. realiza sus operaciones cumpliendo con las políticas, normas y reglamentos internos con el fin de ofrecer un servicio que cumpla con su misión empresarial.
              </p>
          </div>
      </div>
      <div class="lg:space-y-20">
    
        <!-- Objetivos de calidad -->
        <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6 ">
          <div class="text-gray-500 sm:text-lg dark:text-gray-300 flex flex-col md:flex-row">
            <div class=" md:w-1/2"> 
                <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Objetivos de calidad</h2>
                <p class="text-gray-700 dark:text-gray-300">Nuestro compromiso con la calidad impulsa cada paso que damos. Nos esforzamos constantemente por superar las expectativas, asegurando que cada servicio refleje nuestro estándar de excelencia.</p>
            </div>
                <!-- List -->
            <ul role="list" class="space-y-5 border-gray-200  dark:border-gray-700">
              <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-red-500 dark:text-red-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Satisfacer las necesidades y expectativas de los clientes.</span>
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-red-500 dark:text-red-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Alcanzar los niveles de eficiencia y rentabilidad fijados en los planes y políticas financieras.</span>
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-red-500 dark:text-red-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Lograr una productividad que garantice la sostenibilidad de la organización</span>
              </li>
              <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-red-500 dark:text-red-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Lograr y mantener un talento humano competente</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Resela historica -->
      <div class="flex flex-col gap-6 mb-6 mt-5">
        <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg p-6">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Reseña histórica</h3>
            <p class="text-gray-700 dark:text-gray-300">
                EMPLEAR S.A. es una firma nacional de servicios temporales constituida mediante escritura pública No. 1384 en la notaria segunda de armenia el 29 de abril del año 2003 e inscrita en la cámara de comercio el 27 de mayo de 2003 bajo el No. 20617 del libro IX. <br><br>
                Con sede principal en la región de Armenia (Quindío) y una agencia establecida en la ciudad de Cali, conformada con capital netamente privado y una resolución aprobatoria No. 0412 del 6 de diciembre de 2003 emitida por el ministerio de la protección social, con póliza de cumplimiento 
                según requerimiento de ley para garantizar el pago de salarios, prestaciones sociales e indemnizaciones laborales de los trabajadores en misión. <br><br>
                La sociedad Emplear, tiene una junta directiva constituida  por tres miembros principales, tres suplentes, con un gerente general que tiene la representación legal y un suplente. El objetivo principal de Emplear S.A. es la administración de empleados en misión, recurso 
                humano determinante para las organizaciones que requieren generar factores y ventajas competitivas y sostenibles en el mercado, orientando sus actividades al desarrollo de soluciones prácticas, sencillas y estructuradas, que contribuyan al crecimiento de las empresas usuarias.
        </div>
    </div>
  </div>
</section>
