<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<section class="bg-white dark:bg-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <div class="max-w-screen-xl px-4 pt-20 pb-8 mx-auto space-y-12 lg:space-y-20 lg:pt-40 lg:pb-32 lg:px-6">
    <!-- Row -->
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="grid grid-cols-2 gap-4 w-full lg:w-5/6 mb-4 rounded-lg lg:mb-0 lg:grid-cols-4 lg:gap-8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_1.jpg" alt="Imagen 1">

      </div>
      <div class="text-gray-500 sm:text-lg dark:text-gray-300">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Fiestas Infantiles</h2>
        <p class="mb-8 font-light lg:text-xl">¡Convierte el cumpleaños de tu hijo en una celebración mágica con nuestras
          fiestas infantiles! Nos encargamos de cada detalle para que los pequeños disfruten de juegos, actividades y
          sorpresas diseñadas especialmente para ellos. Desde temáticas emocionantes hasta entretenimiento interactivo,
          garantizamos risas y diversión para todos.
        </p>
        <!-- List -->
        <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-red-500 dark:text-green-500" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Compromiso con la
              calidad</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-yellow-200 dark:text-green-500" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Innovación constante</span>
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-500" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Clientes satisfechos</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>




<!-- Start block -->
<section class="bg-gray-50 dark:bg-gray-800">
  <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">
        Hora Loca
      </h1>
      <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
        ¡Haz que tu fiesta sea inolvidable con nuestra Hora Loca! Ofrecemos una explosión de diversión y energía con
        música, bailes y actividades que harán que todos se sientan como estrellas de la fiesta. Ideal para mantener la
        diversión a tope y asegurar que todos pasen un rato increíble.
      </p>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <div class="grid grid-cols-2 gap-4 w-full lg:w-5/6 mb-4 rounded-lg lg:mb-0 lg:grid-cols-4 lg:gap-8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_1.jpg" alt="Imagen 1">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_2.jpg" alt="Imagen 2">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_3.jpg" alt="Imagen 3">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_4.jpg" alt="Imagen 4">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_5.jpg" alt="Imagen 5">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_6.jpg" alt="Imagen 6">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_7.jpg" alt="Imagen 7">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_8.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_9.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_10.jpg" alt="Imagen 8">
      </div>
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <div class="max-w-screen-xl px-4 pt-20 pb-8 mx-auto space-y-12 lg:space-y-20 lg:pt-40 lg:pb-32 lg:px-6">
    <!-- Row -->
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="grid grid-cols-2 gap-4 w-full lg:w-5/6 mb-4 rounded-lg lg:mb-0 lg:grid-cols-4 lg:gap-8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_1.jpg" alt="Imagen 1">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_2.jpg" alt="Imagen 2">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_3.jpg" alt="Imagen 3">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_4.jpg" alt="Imagen 4">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_5.jpg" alt="Imagen 5">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_6.jpg" alt="Imagen 6">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_7.jpg" alt="Imagen 7">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_8.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_9.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_10.jpg" alt="Imagen 8">
      </div>
      <div class="text-gray-500 sm:text-lg dark:text-gray-300">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Fiestas SPA</h2>
        <p class="mb-8 font-light lg:text-xl">Dale a tus pequeños una experiencia relajante y divertida con nuestras
          Fiestas SPA. Ofrecemos tratamientos especiales para niños, como manicuras y pedicuras, junto con actividades
          recreativas que garantizan una experiencia de spa única y adaptada a su edad. ¡Un día de mimos y diversión que
          ellos nunca olvidarán!
        </p>

      </div>
    </div>

  </div>
</section>


<section class="bg-gray-50 dark:bg-gray-800">
  <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">
        Personajes y Muñecos Cabezones
      </h1>
      <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
        ¡Haz que tus hijos se sientan parte de su mundo favorito con nuestros personajes y muñecos cabezones! Traemos a
        la vida a sus héroes favoritos para que interactúen, jueguen y se diviertan en su fiesta. ¡Una manera mágica de
        hacer que su día sea aún más especial!
      </p>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <div class="grid grid-cols-2 gap-4 w-full lg:w-5/6 mb-4 rounded-lg lg:mb-0 lg:grid-cols-4 lg:gap-8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_1.jpg" alt="Imagen 1">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_2.jpg" alt="Imagen 2">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_3.jpg" alt="Imagen 3">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_4.jpg" alt="Imagen 4">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_5.jpg" alt="Imagen 5">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_6.jpg" alt="Imagen 6">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_7.jpg" alt="Imagen 7">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_8.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_9.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_10.jpg" alt="Imagen 8">
      </div>
    </div>
  </div>
</section>



<section class="bg-white dark:bg-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <div class="max-w-screen-xl px-4 pt-20 pb-8 mx-auto space-y-12 lg:space-y-20 lg:pt-40 lg:pb-32 lg:px-6">
    <!-- Row -->
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="grid grid-cols-2 gap-4 w-full lg:w-5/6 mb-4 rounded-lg lg:mb-0 lg:grid-cols-4 lg:gap-8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_1.jpg" alt="Imagen 1">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_2.jpg" alt="Imagen 2">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_3.jpg" alt="Imagen 3">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_4.jpg" alt="Imagen 4">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_5.jpg" alt="Imagen 5">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_6.jpg" alt="Imagen 6">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_7.jpg" alt="Imagen 7">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_8.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_9.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_10.jpg" alt="Imagen 8">
      </div>
      <div class="text-gray-500 sm:text-lg dark:text-gray-300">
        <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Pintacaras</h2>
        <p class="mb-8 font-light lg:text-xl">¡Deja volar la imaginación de los más pequeños con nuestro servicio de
          pintacaras! Transformamos a los niños en sus personajes favoritos con diseños coloridos y creativos que les
          harán sentir como verdaderos héroes. Ideal para añadir un toque de magia y creatividad a cualquier
          celebración.
        </p>

      </div>
    </div>

  </div>
</section>


<section class="bg-gray-50 dark:bg-gray-800">
  <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">
        Babyshower
      </h1>
      <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
        Celebra la llegada del nuevo miembro de la familia con una Babyshower memorable. Nos encargamos de todos los
        detalles, desde la decoración temática hasta juegos y actividades, para que puedas disfrutar de una celebración
        especial y relajada con amigos y familiares. ¡Hacemos que cada momento sea tan único como tu nuevo bebé!
      </p>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <div class="grid grid-cols-2 gap-4 w-full lg:w-5/6 mb-4 rounded-lg lg:mb-0 lg:grid-cols-4 lg:gap-8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_1.jpg" alt="Imagen 1">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_2.jpg" alt="Imagen 2">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_3.jpg" alt="Imagen 3">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_4.jpg" alt="Imagen 4">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_5.jpg" alt="Imagen 5">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_6.jpg" alt="Imagen 6">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_7.jpg" alt="Imagen 7">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_8.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_9.jpg" alt="Imagen 8">
        <img class="w-full h-auto rounded-lg object-cover" src="../../assets/infantiles_10.jpg" alt="Imagen 8">
      </div>
    </div>
  </div>
</section>


